@media(max-width:900px){
	.header-content{
		margin-top: 30px;
		text-align: center;
	}
	.header-row{
		flex-direction: column;
		gap:30px;
	}
	.header-image img{
		width: 400px;
	  height: 500px;
	}
	/* cont form */
	.container-form {
		display: block;
	  }

	.olena-by-water {
		width: 500px;
	  }
	.links{
		display:flex;
		flex-direction: row;
	  }
	.contact-info {
		box-shadow: none;
	  }
	.contact-form {
		width: 100%;
		max-width: 500px;
	  }
	.logo-head {
		background-color: rgba(128, 128, 128, 0.043);
	  }
	.links-container {
		background-color: rgba(128, 128, 128, 0.043);
	  }
	.nav-link {
		background-color: transparent;
		text-decoration: none;
		font-size: 20px;
	  }
	  .nav-link:hover{
		color:black;
	  }
	}
@media(min-width: 900px) {
	/* navbar */
	.header-nav {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	  }
	.logo-head{
		padding: 0;
	  }
	.nav-button {
		display: none;
	  }
	.links-container {
		height: auto !important;
	  }
	.nav-list {
		display: flex;
		gap: 20px;
		font-weight: 500;
		font-size: 20px;
	  }
	
	.nav-items {
		list-style: none;
	  }
	.nav-link {
		text-decoration: none;
		color: black;
		display: block;
		margin: 0 1rem;
		padding: 0;
	  }
	  /* contact form */
    
    .container-form {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	}
}
	
